# Variable 
A variable is the name given to a memory location in a program

In [52]:
a = 488
myname = 'Abdul'

# Data Type

In python, these are primary data type:
1. Integers == to represent integers
2. Float == to represent real values
3. Strings == to represent strings
4. Boolean == to represent Boolean values True or False
5. None == a type with a single value.

In [53]:
a = 489        # identifies a as class <int>
b = 482.48     # identifies b as class <float>
c = 'hello'    # identifies a as class <string>

In [54]:
i = 'x'
j = 'y'
i == j

False

In [55]:
i = 100
j = 100
i == j

True

# Rules for Choosing an Identifier

* A variable name can contain alphabets, digits, and underscores.
* A variable name can only start with an alphabet and underscores.
* A variable name canâ€™t start with a digit.
* No while space is allowed to be used inside a variable name.

Examples of a few variable names are: abdul, two9, nine, two_nine etc.

# Operators in Python

1. Arithmetic operators: +, -, *, / etc.
2. Assignment operators: =, +=, -= etc.
3. Comparison operators: ==, >, >=, <, != etc.
4. Logical operators: and, or, not.

# Operators in Python

1. Arithmetic operators: +, -, *, / etc.
2. Assignment operators: =, +=, -= etc.
3. Comparison operators: ==, >, >=, <, != etc.
4. Logical operators: and, or, not.

# Operators in Python

1. Arithmetic operators: +, -, *, / etc.
2. Assignment operators: =, +=, -= etc.
3. Comparison operators: ==, >, >=, <, != etc.
4. Logical operators: and, or, not.

In [56]:
# 1. Arithmetic Operators
a = 6
b = 3

In [57]:
c = a+b  # Summation
print(c)

9

In [58]:
d = a-b  # Substraction
print(d)

3

In [59]:
e = a*b  # Multiplication
print(e)

18

In [60]:
f1 = a/b  # Division, return float
print(f1)

2.0

In [61]:
f2 = a//b  # Division, return integer
print(f2)

2

In [62]:
g = a**b # a raised to the power b
print(g)

216

In [63]:
h = a%b  # remainder
print(h)

0

# Type() function and Typecasting
type() function is used to find the data type of a given variable in python.

In [64]:
your_age = 29
print(type(your_age))

<class 'int'>

In [65]:
your_height = 178.5
print(type(your_height))

<class 'float'>

In [66]:
your_name = 'Abdul'
print(type(your_name))

<class 'str'>

A number can be converted into a string and vice versa (if possible)

There are many functions to convert one data type into another.

In [67]:
a = 39
b = 29.1
c = 'Abdul'

In [68]:
# integer/float to string conversion
p = str(a)
print(type(p))

<class 'str'>

In [69]:
# String to integer/float == Nope
q = int(c)

ValueError: invalid literal for int() with base 10: 'Abdul'

In [70]:
# Integer to float 
r = float(a)
print(type(r))

<class 'float'>

# Input() function

It allows the user to take input from the keyboard as a string.

* It is important to note that the output of input is always a string (even is a number is entered).

In [76]:
your_name = input("Enter your name !!")

Enter your name !! Abdul Quadir

In [77]:
print(your_name)

Abdul Quadir

In [78]:
print(type(your_name))

<class 'str'>

In [79]:
your_age = input("Enter your age !!")

Enter your age !! 29

In [80]:
print(your_age)

29

In [81]:
print(type(your_age))

<class 'str'>

# Strings
* String is a data type in python.
* String is a sequence of characters enclosed in quotes.

In [84]:
#We can primarily write a string in these three ways.
your_name1 = 'Abdul'   # Single quoted string
your_name2 = "Abdul"   # Double quoted string
your_name3 = '''Abdul'''  # Triple quoted string

### String Slicing

A string in python can be sliced for getting a part of the strings

In [86]:
dept = 'physics'

### Slicing with skip value
We can provide a skip value as a part of our slice

In [89]:
univ = 'university'

In [97]:
univ[::2]

'uiest'

## String Functions

* len() function ==> It returns the length of the strings.
* str.count() ==> It counts the total number of occurrences of any character.
* str.find() ==> This function friends a word and returns the index of first occurrence of that word in the string.
* str.replace(old word, new word) ==> It replace the old word with new word in the entire string. 
* str.endswith("ty") ==> It tells whether the variable string ends with the string "ty" or not.

In [98]:
univ_name = 'Aligarh Muslim University'

In [99]:
# len() function ==> It returns the length of the strings
print(len(univ_name))

25

In [102]:
# str.count() ==> It counts the total number of occurrences of any character
univ_name.count('i')

4

In [104]:
# str.find() ==> This function friends a word and returns the index of first occurrence of that word in the string
univ_name.find('i')

2

In [108]:
# str.replace(old word, new word) ==> It replace the old word with new word in the entire string.
univ_name.replace(' ','_')

'Aligarh_Muslim_University'

In [109]:
# str.endswith("ty") ==> It tells whether the variable string ends with the string "ty" or not.
univ_name.endswith('ty')

True

In [110]:
univ_name.endswith('tty')

False

## Escape Sequence Characters

Escape Sequence characters comprise of more than one character but represent one character when used within the strings.

# Practice Problem

#### Write a python program to display a user entered name followed by Good Morning using input () function.