# Dictionary and Sets

## Dictionary

Dictionary is a collection of keys-value pairs

### Properties of Python Dictionaries
1. It is unordered.
2. It is mutable.
3. It is indexed.
4. Cannot contain duplicate keys.

In [30]:
# Empty dictionary
empty_dict = {}

# Dictionary with key-value pairs
student = {
    "name": "Alicia",
    "age": 20,
    "grade": "A",
    "subjects": ["Math", "Physics", "Chemistry"]
}

# Using dict() constructor
person = dict(name="Samsa", age=25, city="New York")

In [31]:
print(empty_dict)

{}

In [32]:
print(student)

{'name': 'Alicia', 'age': 20, 'grade': 'A', 'subjects': ['Math', 'Physics', 'Chemistry']}

In [33]:
print(person)

{'name': 'Samsa', 'age': 25, 'city': 'New York'}

### Dictionary Methods

In [46]:
a = {
    "name": "Abdul",
    "age": 29,
    "Education": "PhD",
    "University": "AMU",
    "Subject": "Physics", 
}

In [47]:
print(a)

{'name': 'Abdul', 'age': 29, 'Education': 'PhD', 'University': 'AMU', 'Subject': 'Physics'}

In [58]:
print(type(a))

<class 'dict'>

In [59]:
#items(): Returns a list of (key,value)tuples.
a.items()

dict_items([('name', 'Abdul'), ('age', 29), ('Education', 'PhD'), ('University', 'AMU'), ('Subject', 'Physics'), ('Friends', ['A', 'B', 'C', 'D'])])

In [60]:
#keys(): Returns a list containing dictionary's keys
a.keys()

dict_keys(['name', 'age', 'Education', 'University', 'Subject', 'Friends'])

In [61]:
# update({"friends":}): Updates the dictionary with supplied key-value pairs.
a.update({"Friends": ['A', 'B', 'C', 'D']})
print(a)

{'name': 'Abdul', 'age': 29, 'Education': 'PhD', 'University': 'AMU', 'Subject': 'Physics', 'Friends': ['A', 'B', 'C', 'D']}

In [62]:
#get("name"): Returns the value of the specified keys (and value is returned).
a.get("Friends")

['A', 'B', 'C', 'D']

## SETS

#### Sets in Python

Set is a collection of non-repetitive elements.

* If you are a programming beginner without much knowledge of mathematical operations on sets, you can simply look at sets in python as data types containing unique values.

In [68]:
s = set() # no repetition allowed!

In [69]:
s.add(1)
s.add(2)

In [70]:
print(s)

{1, 2}

In [71]:
print(type(s))

<class 'set'>

### Properties of Sets

1. Sets are unordered => Element’s order doesn’t matter
2. Sets are unindexed => Cannot access elements by index
3. There is no way to change items in sets.
4. Sets cannot contain duplicate values.

### Operations in Set

* len()
* remove()
* pop()
* clear()
* union
* intersection()

In [79]:
s = {1,2,3,4,5,6}
#len(): the length of the set
print(len(s))

6

In [80]:
s = {1,2,3,4,5,6}
#remove(): remove the given element
s.remove(4)
print(s)

{1, 2, 3, 5, 6}

In [81]:
s = {1,2,3,4,5,6}
#clear(): empties the set
s.clear()
print(s)

set()

In [84]:
#union(): Returns a new set with all items from both sets
s1 = {1,2,3,4,5,6}
s2 = {11,12}
s3 = s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 11, 12}

In [86]:
# intersection(): Return a set which contains only item in both sets
s1 = {1,2,3,4,5,6}
s2 = {1, 11,4, 12}
s3 = s1.intersection(s2)
print(s3)

{1, 4}